/** @format */

body {
  font-family: sans-serif;
}

/* 
#navbar{
    position: sticky;
    top: 0;
    z-index: 10;
} */

/* ---------------------------------------start nav----------------------------------- */
nav .navbar {
  background-image: linear-gradient(to bottom, #ff4800, #df5206);
}
.navbar-light .navbar-brand {
  color: rgba(255, 255, 255, 0.9);
  padding-left: 10px;
  font-weight: 800;
  font-size: 25px;
}
.brand {
  color: #ffffff;
  font-size: 30px;
  text-transform: uppercase;
  padding-left: 10px;
  font-weight: 800;
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(255 255 255);
  float: right;
}
/* ---------------------------------------end nav----------------------------------- */

/* <!-- -----------------------------------------------------start banar------------------------------------------------------------------ --> */

#banar {
  background-image: linear-gradient(to bottom, #ff4800, #df5206);
  padding: 0px;
  font-size: larger;
}

#banar .col-md-7 {
  padding-top: 15%;
}
#banar h6 {
  font-size: 7px;
  letter-spacing: 5px;
  color: rgb(255, 255, 255);
}
#banar h1 {
  font-weight: 900;
  font-size: 40px;
  padding-top: 8px;
  color: white;
}
#banar p {
  padding-top: 10px;
  font-size: 12px;
  color: white;
}
#banar .btn {
  border-radius: 20px;
  width: 40%;
  text-transform: capitalize;
  padding-top: 5px;
  color: black;
}
/* <!---------------------------------------------------------------- end bannar-------------------------------------------------------- --> */

.imggs {
  width: 76%;
  border-radius: calc(0.25rem - 1px);
}
section img {
  position: relative;
}

.cover {
  width: 100%;
  height: 400px;
  background-image: url(pexels-photo-452738.jpeg);
  background-position: -107px -194px;
  background-size: 120%;
  position: relative;
}
section .content {
  background: #0000008c;
  height: 100%;
  width: 100%;
  padding-top: 185px;
  color: white;
}
/*---------------------------------------- start card -------------------------------------*/
#card {
  padding: 40px 0px;
}
.card-title {
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 23px;
}

.card-subtitle {
  margin-top: 1.625rem;

  font-size: small;
}
.card-link {
  font-size: 30px;
  font-weight: 700;
  margin: 50px;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  color: white;
  width: 120px;
  border-radius: 21px;
}

.btn:not(:disabled):not(.disabled):hover {
  background-image: linear-gradient(to bottom, #ff000094, #df5206);
}

/*---------------------------------------- end card -------------------------------------*/

/*---------------------------------------- start download -------------------------------------*/

#dowelowd {
  background-image: linear-gradient(to bottom, #ff000094, #df5206);
  padding-top: 30px;
  padding-bottom: 70px;
}
#dowelowd .title {
  font-size: 40px;
  margin-top: 20px;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
}
#dowelowd .text {
  color: rgba(255, 255, 255, 0.867);
  margin: 30px 50px;
  text-align: center;
}
#dowelowd .icons {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
#dowelowd .icons .text-center {
  background-color: rgb(255, 255, 255);
  margin: 30px;
  width: 200px;
  border-radius: 50px;
}
#dowelowd svg:not(:host).svg-inline--fa,
svg:not(:root).svg-inline--fa {
  font-size: 35px;
  margin-top: 5px;
}
#dowelowd .icons .text-center h4 {
  font-weight: 600;
  text-transform: capitalize;
}
#dowelowd .icons .text-center p {
  color: rgba(0, 0, 0, 0.419);
}
#dowelowd .icons .text-center:hover {
  background-image: linear-gradient(to bottom, #ff000094, #df5206);
  color: white;
}
#dowelowd .icons .text-center p:hover {
  color: white;
}

/*---------------------------------------- end download -------------------------------------*/

/* start section 4 */
#section4 {
  padding: 80px 0px;
}
#section4 .title h1 {
  font-size: 50px;
  font-weight: 600;
  text-transform: capitalize;
}
#section4 .title p {
  color: rgba(0, 0, 0, 0.512);
}

#section4 img {
  border-radius: 50%;
  width: 150px;
  margin-left: 115px;
  margin-top: 20px;
}

#section4 .card-title {
  font-weight: 700;
}
#section4 .card-text {
  color: #0000006a;
}
#section4 .card-body h3 {
  color: #000000de;
}
#section4 .card {
  margin-top: 5px;
  box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.2), 0 29px 25px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.bg-body-tertiary {
  background-image: linear-gradient(to bottom, #ffffff, #000000);
}

.text-body {
  --bs-text-opacity: 1;
  color: white !important;
}
